<title>FleschScoreCalc</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {background-color: black;}
  h1
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h4
  {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  textarea
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  input
  {
      display: block;
    margin-left: auto;
    margin-right: auto;
  }


  </style>

  <h1> Flesch Readabilty Score Calculator </h1>
  <h4> Calculates how easy a passage is to read. Scores can be interpreted by the below table </h4>
  <h1></h1>
  <img id="bigpic" src="/static/table.png">
  <h1></h1>
  <form id="myForm" action ="/mainlocal" method ="POST" enctype="multipart/form-data">
    <textarea placeholder="Enter text here"id="textInput" name ="textInput" rows="4" cols="50"></textarea>
    <h5></h5>
    <input type="text" name="text">
    <input type="submit" name="my-form" value="Calculate">
  </form>
